$bgColor: rgb(154, 78, 0);

@import "fonts";
@import "reset";
@import "stage";

@font-face {
	font-family: 'SuperMarioText';
	src: url('/assets/super-mario-bros--3-webfont.eot'); /* IE9 Compat Modes */
	src: url('/assets/super-mario-bros--3-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('/assets/super-mario-bros--3-webfont.woff') format('woff'), /* Modern Browsers */
	     url('/assets/super-mario-bros--3-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('/assets/super-mario-bros--3-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
	}

body {
    background: $bgColor;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.superMarioText {
	color: white;
	font-family: 'SuperMarioText',  Fallback, sans-serif;
}

#money {
	position: absolute;
	top: 261px;
	left: 287px;
	background-color: black;
	font-size: 1.5em;
}

#life {
	position: absolute;
	top: 342px;
	left: 364px;
	background-color: black;
	font-size: 1.5em;
}


$star: (-294px -1339px);
$character: (-353px -1339px);
$cherry: (-468px -1339px);
$vegetable: (-411px -1339px);


.star {
	background-position: $star;
	animation: animation 1s steps(1);
}

.character {
	background-position: $character;
	animation: animation 1s steps(1);
}

.cherry {
	background-position: $cherry;
	animation: animation 1s  steps(1);
}

.vegetable {
    background-position: $vegetable;
    animation: animation 1s steps(1);

}

.slot {
	background-image: url("/images/smb2_various_sheet.png");	
	background-size: 875px;
}

@keyframes animation {
  10%{
	background-position: $vegetable;
  }
  30%{
	background-position: $star;
  }
  
  50%{
  	background-position: $character;
  }
  
  70%{
  	background-position: $vegetable;
  }
  
  90%{
  	background-position: $star;
  }
}



#leftSlot {
	top: 181px;
	left: 166px;
	width: 54px;
	height: 54px;
	position: absolute;
	background-color: black;	
	animation-iteration-count: 2;
}

#middleSlot {
	
	top: 181px;
	left: 229px;
	width: 54px;
	height: 54px;
	position: absolute;
	background-color: black;	
	animation-iteration-count: 4;
}

#rightSlot {
	
	top: 181px;
	left: 293px;
	width: 54px;
	height: 54px;
	position: absolute;
	background-color: black;	
	animation-iteration-count: 8;
}


